@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Cutive+Mono&family=Gruppo&family=Press+Start+2P&family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cutive Mono', monospace;
}

body{
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 25px;
    padding-top: 150px;
}

/*SCROLL*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(171,2,227,1) 0%,rgba(2,227,227,1) 100%);
    border-radius: 10px;
}

/*PAGE*/

#conteTitle > h1{
    font-family: 'Bungee Hairline', cursive;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#conteTxtRandom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#conteTxtRandom > input {
    min-width: 50%;
    padding: 10px;
    font-size: 1.1rem;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(10, 10, 10);
    border-radius: 5px;
}

#conteTxtRandom > input:hover{
    border: 2px solid rgb(240, 240, 240);
    background-color: rgb(10, 10, 10);
    color: rgb(240, 240, 240);
    cursor: pointer;
}